<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf8AzArzJuHrm3SDwbvfY0rUgPuo_dkf0</string>
	<key>GCM_SENDER_ID</key>
	<string>6874102693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.university.universityAttendance</string>
	<key>PROJECT_ID</key>
	<string>university-attendance-6d7c0</string>
	<key>STORAGE_BUCKET</key>
	<string>university-attendance-6d7c0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6874102693:ios:0ed838dd48fe4a7ec3064c</string>
</dict>
</plist>